.datepicker {
  transition: all .3s ease-in-out;
  background: $white;
  color: $gray;
  font-size: 14pt;
  line-height: 12pt;
  overflow: hidden;
  margin: 1rem 0;
  left: 0;
  z-index: 10;
  &-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }
  &-dummy-wrapper {
    position: relative;
    input {
      width: 280px;
      position: relative;
      font-size: 18px;
      padding: 3px 10px;
      appearance: none;
      -moz-appearance: none;
      background: none;
      border: none;
      box-sizing: border-box;
      border-bottom: 2px solid $tone;
    }
  }
  &-main-wrapper {
    background: $white;
    margin-top: calc(2rem + 13px);
    position: absolute;
    width: 280px;
    padding: 10pt 1pt;
    display: flex;
    border: 1pt solid $tone;
    border-radius: 3pt;
    z-index: 11;
    box-sizing: border-box;
  }
  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    >div {
      width: inherit;
    }
  }
  &-container {
    text-align: center;
  }
  &-weekbar {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: lighten($black, 50);
    span {
      width: calc(100% / 7);
    }
  }
  &-table {
    width: inherit;
    position: relative;
    display: flex;
    flex-flow: wrap;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% / 7);
      height: 40px;
    }
  }
  &-day {
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 1pt solid $tone;
    }
    &.active {
      background-color: $tone;
    }
  }
}
