@keyframes datepicker-appear {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.datepicker {
  transition: all .3s ease-in-out;
  background: $white;
  color: $gray;
  font-size: 14pt;
  line-height: 12pt;
  overflow: hidden;
  margin: 1rem 0;
  left: 0;
  z-index: 10;
  &-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }
  &-dummy-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    >div {
      width: 280px;
      box-sizing: border-box;
      border-bottom: 2px solid $tone;
      color: $tone;
      padding: .5rem 7px;
      input {
        position: relative;
        font-size: 18px;
        padding: 3px 10px;
        appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
      }
    }
  }
  &-main-wrapper {
    box-shadow: 1pt 1pt 3pt rgba($black, .5);
    animation: datepicker-appear .2s ease-in-out;
    background: $white;
    margin-top: calc(2rem + 15px);
    position: absolute;
    padding: 10pt 1pt;
    display: flex;
    border: 1pt solid $tone;
    border-radius: 3pt;
    z-index: 11;
    box-sizing: border-box;
  }
  &-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    >div {
      width: inherit;
    }
  }
  &-header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    color: lighten($black, 50);
    z-index: 11;
    >div {
      margin: 0 10pt;
      cursor: pointer;
      &:hover {
        color: $tone;
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4px);
    text-align: center;
    z-index: 10;
    padding: 2px;
    h1 {
      font-size: 32px;
    }
  }
  &-weekbar {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: lighten($black, 50);
    span {
      width: calc(100% / 7);
    }
  }
  &-table {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: wrap;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin: calc((100% / 7 - 32px) / 2);
      box-sizing: border-box;
    }
  }
  &-day {
    transition: all .2s ease-in-out;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba($black, .3);
    &.available {
      cursor: pointer;
      color: $black;
      &:hover,
      &.active {
        box-shadow: 1pt 1pt 3pt rgba($black, .5);
        background-color: $tone;
        color: $white;
      }
    }
  }
}
