@keyframes datepicker-appear {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.datepicker {
  transition: all .3s ease-in-out;
  background: $white;
  color: $gray;
  font-size: 14pt;
  line-height: 12pt;
  overflow: hidden;
  margin: 1rem 0;
  left: 0;
  z-index: 10;
  &-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }
  &-dummy-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 2px solid $tone;
      color: $tone;
      padding: .5rem 7px;
      input {
        width: 220px;
        position: relative;
        font-size: 18px;
        padding: 3px 10px;
        appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        color: transparent;
        text-shadow: 0 0 0 $tone;
        &:focus {
          outline: none;
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }
  &-main-wrapper {
    width: 100%;
    box-shadow: 1pt 1pt 3pt rgba($black, .5);
    animation: datepicker-appear .2s ease-in-out;
    background: $white;
    margin-top: calc(2rem + 15px);
    position: absolute;
    display: flex;
    border: 1pt solid $tone;
    border-radius: 3pt;
    z-index: 11;
    box-sizing: border-box;
    @media screen and (max-width: 600px) {
      margin-top: calc(4rem + 30px);
    }
  }
  &-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    >div {
      width: inherit;
    }
  }
  &-header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    height: 3.75rem;
    color: $white;
    z-index: 11;
    @media screen and (max-width: 600px) {
      font-size: 27px;
      height: 3.25rem;
    }
    >div {
      margin: 0 10pt;
      cursor: pointer;
      color: rgba($white, .5);
      transition: all .3s;
      &:hover {
        color: $white;
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4px);
    text-align: center;
    z-index: 10;
    &:nth-of-type(3) {
      border-left: 1px solid $tone;
      @media screen and (max-width: 600px) {
        border-left: 0;
      }
    }
  }
  &-month-name {
    color: $white;
    background-color: $tone;
    height: 3.75rem;
    @media screen and (max-width: 600px) {
      height: 3.25rem;
    }
    h1, p {
      line-height: 1.1;
    }
    h1 {
      font-size: 32px;
      font-weight: 200;
      @media screen and (max-width: 600px) {
        font-size: 27px;
      }
    }
  }
  &-weekbar {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: lighten($black, 50);
    font-size: 10pt;
    margin: .5rem .5rem 0 .5rem;
    @media screen and (max-width: 600px) {
      margin-top: 3px;
    }
    span {
      width: calc(100% / 7);
    }
  }
  &-table {
    width: calc(100% - 1rem);
    position: relative;
    display: flex;
    flex-flow: wrap;
    padding: .5rem;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin: calc((100% / 7 - 32px) / 2);
      box-sizing: border-box;
    }
  }
  &-day {
    transition: all .2s ease-in-out;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba($black, .3);
    &.available {
      cursor: pointer;
      color: $black;
      &:hover,
      &.active {
        background-color: $tone;
        color: $white;
      }
    }
  }
}
